@media(max-width:840px){
    .bar{
        display: block;
        font-size: 40px;
        color: blue;
        padding: 20px;
    }
    nav{
        display: none;
    }
    .canteiner{
        justify-content: center;
        display: flex;
        flex-wrap: wrap
      

    }
    .img{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .poto{
        width: 90%;
        padding-bottom: 10px;
       
        
       
    }
    .text{
       color:blue;
       font-size: 13px;
       margin-bottom: 10px;
    }
    p{
        font-size: 15px;
    }
}



